html{
    background: #eee;
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;

}

// ヘッダーロゴの部分
.confirmation-header {
    height: 128px;
    text-align: center;
    h1{
        width: 193px;
        height: 49px;
        display: inline-block;
        box-sizing: border-box;
        margin: 40px auto 0;
        font-weight: normal;
    }
}


// メインコンテンツ部分
main {
    display: block;

    // 商品情報、値段、購入ボタンまで
    .confirmation-main{
        &__container{
            width: 700px;
            margin: 0 auto;
            background: #fff;
            &__header{
                padding: 16px;
                font-size: 22px;
                line-height: 1.5;
                text-align: center;
                font-weight: bolder;
            }
            &__buy-content{
                padding: 24px 12.5px 0;
                border-top: 1px solid #f5f5f5;
                &__inner{
                    max-width: 320px;
                    margin: 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    &__item{
                        height: 72px;
                        width: 64px;
                        background-color: red;
                        &__image{
                            height: 64px;
                            width: 64px;
                        }
                        &__item-name{
                        width: calc(100% - 80px);
                        margin: 0 0 0 16px;
                        text-align: left;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 1.5;
                    }
                }
                    &__buy-form{
                        width: 100%;
                        &__list{
                            width: 100%;
                            &__price{
                                margin: 12px 0 0;
                                line-height: 1.5;
                                font-size: 18px;
                                font-weight: 600;
                                text-align: center;
                                &__text{
                                    margin: 0 0 0 8px;
                                    font-size: 14px;
                                    font-weight: 400;
                                    text-align: center;
                                }
                            }
                            &__point{
                                cursor: default;
                                padding: 16px;
                                background-color: #ccc;
                                border: 1px solid #ccc;
                                font-size: 14px;
                                text-align: center;
                                margin-top: 20px;
                            }
                            &__table{
                                display: table;
                                border-collapse: collapse;
                                width: 100%;
                                &__list{
                                    border: 0;
                                    font-size: 18px;
                                    font-weight: 600;
                                    margin: 20px auto 20px;
                                    &__left-text{
                                        float: left;
                                        width: 100px;
                                        text-align: left;
                                    }
                                    &__right-text{
                                        float: right;
                                        font-size: 20px;
                                        text-align: right;
                                        display: table-cell;
                                    }
                                }
                            }
                                &__buy-btn{
                                cursor: pointer;
                                color: white;
                                widows: 100%;
                                padding: 16px;
                                background-color: #ea352d;
                                border: 1px solid #ea352d;
                                font-size: 14px;
                                text-align: center;
                                margin-top: 20px;
                                }
                            }
                        }
                    }
                }

            // 配送先とユーザーの住所
            &__buy-info{
                margin: 40px 0 0;
                padding: 24px 12.5% 0;
                border-top: 1px solid #f5f5f5;
                &__container{
                    max-width: 320px;
                    margin: 0 auto;
                        h3{
                            margin: 0;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        &__address{
                            display: block;
                            margin: 8px 0 0;
                            font-size: 14px;
                            line-height: 1.4;
                            font-style: normal;
                            font-weight: lighter;
                        }

                        &__user-info-fix{
                            font-size: 14px;
                            margin-top: 10px;
                            display: block;
                            text-align: right;
                            color: #0099e8;
                            text-decoration: none;
                            i{
                                display: inline-block;
                                font-family: 'icon-font';
                                speak: none;
                                font-style: normal;
                                font-weight: 400;
                                font-variant: normal;
                                text-transform: none;
                                line-height: 1;
                                -webkit-font-smoothing: antialiased;
                            }
                        }
                    }
                }
                
            // クレジットカード情報
            &__credit-info{
                padding: 24px 12.5% 40px;
                transition: all ease-out .3s;
                border-top: 1px solid #f5f5f5;
                margin-top: 40px;

                    &__inner{
                        max-width: 320px;
                        margin: 0 auto;
                            h3{
                                margin: 0;
                                font-size: 14px;
                                font-weight: 600;
                            }
                            &__card-number{
                                margin: 8px 0 0;
                                font-size: 14px;
                                line-height: 1.4;
                            }
                            &__deadline{
                                font-size: 14px;
                                line-height: 1.4;
                            }
                            &__logo{
                                height: 15px;
                                width: 49px;
                            }
                        }
                    }
                }
            }
        }