// ヘッダーmerucariロゴの部分
.sub_header {
    height: 128px;
    text-align: center;
    h1{
        width: 193px;
        height: 49px;
        display: inline-block;
        box-sizing: border-box;
        margin: 40px auto 0;
        font-weight: normal;
    }
}